.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    border: 1px solid black;
    min-height: 150px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    border-color: black;
}